<div class="wrapper">
    <div class="container">
        <%= link_to 'Back', projects_path, class: 'btn btn-secondary mb-2' %>
        <div class="card">
            <div class="head">
                <h3>Create A Project</h3>
            </div>
            <% if flash[:errors] %>
                <div class="pl-3 pt-3">
                    <% flash[:errors].each do |error| %>
                        <b class="text-danger"><%= error %></b><br>
                    <% end %>
                </div>
            <% end %>
            <div class="card-body">
                <form action="/projects" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <h5>Project Name:</h5>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" name="project[name]" id="name">
                    </div>
                    <h5>Project Description:</h5>
                    <div class="wrap-input100 validate-input m-b-16">
                        <textarea class="input100 desc" type="text" name="project[description]" id="desc"></textarea>
                    </div>
                    <input type="hidden" name="project[user_id]" value="<%=current_user.id%>">
                    <div class="text-center">
                        <button class="button" id="create">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>